@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Pixelify Sans", sans-serif;
}

.calculator__container {
  width: 400px;
  height: 580px;
  margin-top: 20px;
  background-color: #D4AF37;
  border-radius: 20px;
  border: 5px solid #fff;
}

.calculator__row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}